<?php

$SOFTWARE = "Denjob";
$VERSION = "v0.4";
$DESCRIPTION = "Position application web interface.";
$COPYRIGHT = "$SOFTWARE $VERSION ; $DESCRIPTION";
$COMPANY = "NAME";

# Salt for hash function
$HASH_SALT = "#SomeString#";

# The folder containing the data
$CFG_POSITIONS_DIR = "positions";

# The URL sent by email
$URL="https://jobs.institut.ion";


# GDPR
$GDPR_MESSAGE = "<a href='Link to notice'>GDPR notice for job applicants</a>";


# Signature of the emails
$EMAIL_SIGNATURE = "Institute administrator";

# The sender email address only
$EMAIL_ONLY="registrarsoffice@admin.dias.ie";

# The sender email address
$EMAIL_FROM="$EMAIL_SIGNATURE <$EMAIL_ONLY>";

# Subject to prefix in all email transactions
$EMAIL_SUBJECT_PREFIX = "[$COMPANY] Job application";


# Emails templates

$EMAIL_HEADER = "From: %from\n";

# To Applicant
$APP_SUBJECT = "%subject - application link";
$APP_MAIN = <<<EOM
Dear %appname,

thank you for applying to the position %jobtitle

Please click on this link to continue with your application:
%url/applicant.php?p=%p&h=%h

All the best,
%signature
EOM;

# To Applicant after the PDF file is uploaded
$UPLOADED_SUBJECT = "%subject - Application uploaded, please check";
$UPLOADED_MAIN = <<<EOM
Dear %appname,

Thank you for your application for the position of of %jobtitle

Your application has been just uploaded. Please use the link below to check that the upload is correct and complete, and re-upload the application if necessary.
%url/%cv

The application PDF file can be re-uploaded, the application reviewed and finalized at
%url/applicant.php?p=%p&h=%h

Kind Regards,
%signature
EOM;

# To Unsuccessful Applicant
$RESPONSE_SUBJECT = "%subject - Response";
$RESPONSE_MAIN = <<<EOM
Dear %appname,

Thank you for your application.

Thank you for your application for the position of %jobtitle.  We received a large number of very strong applications for this one post and it took longer than anticipated to review all the applications.  I regret to inform you that your application was not successful on this occasion.

We wish you the very best with your future career and  would  welcome an application from you in the future for any relevant advertised vacancies.

All the best,
%signature
EOM;

# To Forgetful Applicant
$REMINDER_SUBJECT = "%subject - Reminder";
$REMINDER_MAIN = <<<EOM
Dear %appname,

Thank you for your interest in the position %jobtitle.

Please note that your application is still not finalized as a few required documents are still missing.

Please click on this link to review your details:
%url/applicant.php?p=%p&h=%h

All the best,
%signature
EOM;

# To Referee
$REF_SUBJECT = "%subject - Applicant reference letter request";
$REF_MAIN = <<<EOM
Dear %refname,

%appname (%appemail) is applying to the position %jobtitle (see: %url). He/She has nominated you as referee.

Please upload a PDF reference letter using the following link:
%url/referee.php?p=%p&h=%h&rh=%rh

All the best,
%signature
EOM;


# To Assessor
$ASS_SUBJECT = "%subject - assessor for open position request";
$ASS_MAIN = <<<EOM
Dear %assname,

you were nominated to be an assessor.

Please review the applicants for %jobtitle here:
%url/assessor.php?p=%p&a=%a

All the best,
%signature
EOM;


# To Chairman/admin
$ADMIN_SUBJECT = "%subject - admin link";
$ADMIN_MAIN = <<<EOM
Dear Job Administrator,

Please manage the job offers here:
%url/admin.php?c=%c

All the best,
%signature
EOM;

?>
