<?php

$SOFTWARE = "Denjob";
$VERSION = "v0.1";
$DESCRIPTION = "Position application web interface.";
$COPYRIGHT = "$SOFTWARE $VERSION ; $DESCRIPTION";

# Salt for hash function
$HASH_SALT = "#SomeString#";

# The folder containing the data
$CFG_POSITIONS_DIR = "positions";

# The URL sent by email
$URL="https://jobs.institut.ion";

# The sender email address
$FROM_EMAIL="Institute administrator <administrator@institut.ion>";

# Subject to prefix in all email transactions
$EMAIL_SUBJECT = "Institution Name";


# Emails templates

$EMAIL_HEADER = "From: $FROM_EMAIL\n";

# To Applicant
$APP_SUBJECT = "$EMAIL_SUBJECT - application link";
$APP_MAIN = <<<EOM
Dear %appname,

thanks you for applying to the position %jobtitle, please click on this link to continue with your application
$URL/applicant.php?p=%p&h=%h

All the best,
Administrator
EOM;

# To Referee
$REF_SUBJECT = "$EMAIL_SUBJECT - Applicant cover letter request";
$REF_MAIN = <<<EOM
Dear %refname,

%appname (%appemail) is applying to the position %jobtitle (see: $URL). He/She has nominated you as referee.

Please upload a PDF cover letter using the following link:
$URL/referee.php?p=%p&h=%h&rh=%rh

All the best,
Administrator
EOM;


# To Assessor
$ASS_SUBJECTt = "$EMAIL_SUBJECT - assessor for open position request";
$ASS_MAIN = <<<EOM
Dear %assname,

you were nominated to be an assessor.

Please review the applicants for %jobtitle here:
$URL/assessor.php?p=%p&a=%a

All the best,
Administrator
EOM;


# To Chairman/admin
$CHAIR_SUBJECT = "$EMAIL_SUBJECT - admin link";
$CHAIR_MAIN  = <<<EOM
Dear Chairman,

Please manage the job offers here:
$URL/chairman.php?c=%c

All the best,
Administrator
EOM;

?>
